* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Space+Grotesk&display=swap');

:root {
  --prim-c: rgba(255, 255, 255, 0.8);
  --sec-c: rgba(255, 255, 255, 0.3);
}

body {
  color: var(--prim-c);
  font-family: 'Space Grotesk', sans-serif;
}
/* Utility class */

.hover:hover {
  cursor: pointer;
  color: var(--prim-c);
  transition: 0.3s ease;
}
.box-shadow:hover {
  z-index: 6;
  box-shadow: 0 0 35px 2px #fff;
  transition: 0.3s ease;
}

.main-container {
  width: 100%;
  height: 100vh;
  background-image: url(img/pexels-egor-kamelev-920157.jpg);
  background-position: center;
  background-size: cover;
  position: relative;

  overflow: hidden;
  box-shadow: inset 0 0 500px 100px #111;
}

/* Nav */
#nav {
  position: relative;
  width: 80%;
  height: 80px;
  margin: 0 auto;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav #logo {
  height: 70px;
  width: 60px;
}

label {
  position: absolute;
  left: 25px;
  top: 25px;
  font-size: 1.8rem;
  cursor: pointer;
  text-shadow: 1px 1px 2px #333;
  font-family: 'Itim', cursive;
}

.btn {
  border: 2px solid var(--sec-c);
  color: var(--sec-c);
  outline: none;
  transition: 0.3 ease;
  border-radius: 25px;
}

.btn:hover {
  border: 2px solid var(--prim-c);
}

.btn:active {
  transform: scale(0.95);
  transition: 0.3s ease;
}

/* Header  */
#Header {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translateY(-50%);
  color: #fff;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 5rem;
  margin: 3rem 0;
  letter-spacing: 1px;
  text-shadow: 1px 1px 2px #333;
  font-family: 'Space Grotesk', sans-serif;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btn-pulse {
  animation: pulse 3s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}
.btn-pulse:hover {
  animation: none;
}

/* Social */

#Social {
  position: fixed;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 10vw;
  height: 80vh;
  border-radius: 0px 10px 10px 0px;
}

#Social:hover {
  border: 1px solid #333;
}

.social-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  margin: 1rem;
}

.fab {
  color: var(--sec-c);
  transform: 0.3 ease;
}

/* Contact section */

#Contact {
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 10vw;
  height: 80vh;
  border-radius: 10px 0px 0px 10px;
  transition: 0.3 ease;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  margin: 1rem;
}

.fas {
  color: var(--sec-c);
  transform: 0.3 ease;
}

/* Footer */
#Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
}
