* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Space+Grotesk&display=swap');

:root {
  --prim-c: rgba(255, 255, 255, 0.8);
  --sec-c: rgba(255, 255, 255, 0.3);
}

body {
  color: var(--prim-c);
  font-family: 'Space Grotesk', sans-serif;
}
/* Utility class */

.hover:hover {
  cursor: pointer;
  color: var(--prim-c);
  transition: 0.3s ease;
}
.box-shadow:hover {
  z-index: 6;
  box-shadow: 0 0 35px 2px #fff;
  transition: 0.3s ease;
}

.main-container {
  width: 100%;
  height: 100vh;
  background-image: url(img/pexels-egor-kamelev-920157.jpg);
  background-position: center;
  background-size: cover;
  position: relative;

  overflow: hidden;
  box-shadow: inset 0 0 500px 100px #111;
}

/* Nav */
#nav {
  position: relative;
  width: 80%;
  height: 80px;
  margin: 0 auto;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav #logo {
  height: 70px;
  width: 60px;
}

label {
  position: absolute;
  left: 25px;
  top: 25px;
  font-size: 1.8rem;
  cursor: pointer;
  text-shadow: 1px 1px 2px #333;
  font-family: 'Itim', cursive;
}

.btn {
  border: 2px solid var(--sec-c);
  color: var(--sec-c);
  outline: none;
  transition: 0.3 ease;
  border-radius: 25px;
}

.btn:hover {
  border: 2px solid var(--prim-c);
}

.btn:active {
  transform: scale(0.95);
  transition: 0.3s ease;
}
